<h2>Edit Car</h2>

<%= form_for @car do |f| %>
<%= f.label :vehicle %>
<%= f.text_field :vehicle %>

<%= f.submit %>
<% end %>

<%= form_for @car, method: :delete do |f| %>
<%= f.submit "Delete!", class: "delete" %>
<% end %>
