<h2><%= @car.vehicle %> <%= link_to "(edit)", edit_car_path(@car) %></h2>
<h4><%= @car.date %></h4>
<h4><%= @car.mileage %></h4>
<h4><%= @car.service %></h4>
<h4><%= @car.cost %></h4>
<h4><%= @car.estimate %></h4>
<h4><%= @car.shop %></h4>
<h4><%= @car.mechanic %></h4>
<h4><%= @car.quality %></h4>
<h4><%= @car.overall %></h4>
<h4><%= @car.recommdations %></h4>
<h4><%= @car.comments %></h4>


<img class='car-photo' src="<%= @car.photo_url %>">

<h3>Cars <%= link_to "(+)", new_car_path(@car) %></h3>
