<h2><%= @car.vehicle %><%= link_to "(edit)", edit_car_path(@car) %></h2>

<h3>Cars <%= link_to "(+)", new_car_path(@car) %></h3>
<h3>Services <%= link_to "(+)", new_service_path(@service) %></h3>

<ul>
  <% @car.services.each do |service| %>
  <li>
    <%= link_to "#{service.date}--#{service.service}--(#{service.mileage})", service %>
  </li>
  <% end %>
</ul>
