<!DOCTYPE html>
<html>
<head>
  <title>Autobox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <section>
          <div class="left">
          	<h1><%= link_to "AutoBox", root_url %></h1>
          </div>
          <div class="right">
            <ul>
                <li><%= link_to "Cars", cars_path %></li>
                <li><%= link_to "Services", services_path %></li>
            </ul>
          </div>
      </section>
  </header>
<!-- <a class="waves-effect waves-light btn">AutoBox</a> -->
  <nav>
      <section>
          <div class="left">

          </div>
      </section>
  </nav>
  <%= yield %>
</body>
</html>
